[package]
name = "seafowl"
build = "build.rs"
version = "0.1.0-dev.4"
edition = "2021"

readme = "README.md"
description = "Seafowl is an analytical database designed for modern data-driven Web applications."
authors = ["Splitgraph, Inc. <support@splitgraph.com>"]
keywords = ["database", "http", "web"]
homepage = "https://seafowl.io"
license = "Apache-2.0"
include = [
    "src/**/*.rs",
    "Cargo.toml",
    "build.rs",
    "migrations",
]

[features]
catalog-postgres = ["sqlx/postgres"]
default = ["catalog-postgres", "frontend-postgres", "object-store-s3"]
frontend-postgres = ["convergence", "convergence-arrow"]
object-store-s3 = ["object_store/aws"]

[dependencies]
arrow = { version = "20.0.0", features = ["prettyprint"] }
async-trait = "0.1.41"
base64 = "0.13.0"

bytes = "1.1.0"
chrono = { version = "0.4", default_features = false }
clap = { version = "3.2.19", features = [ "derive" ] }
config = "0.13.1"

# PG wire protocol support
convergence = { git = "https://github.com/returnString/convergence", rev = "3a0e31079ab80d0e6f1ccd695fc02a9266727e6d", optional = true }
convergence-arrow = { git = "https://github.com/returnString/convergence", rev = "3a0e31079ab80d0e6f1ccd695fc02a9266727e6d", package = "convergence-arrow", optional = true }
datafusion = "11"
datafusion-proto = "11"
futures = "0.3"

# passing to DF's query planner
hashbrown = { version = "0.12", features = ["raw"] }
hex = ">=0.4.0"
itertools = ">=0.10.0"
log = "0.4"
moka = { version = "0.9.3", default_features = false, features = ["future", "atomic64", "quanta"] }
object_store = "0.4.0"
pretty_env_logger = "0.4"
prost = "0.11"

# Needs to be in non-dev because repository::testutils can't be
# imported by tests::end_to_end if it's cfg(test).
rand = "0.8"
reqwest = { version = "0.11.11", features = [ "stream" ] }
serde = "1.0.138"
serde_json = "1.0.81"
sha2 = ">=0.10.1"
sqlparser = "0.20"
sqlx = { version = "0.5", features = [ "runtime-tokio-rustls", "sqlite" ] }
strum = ">=0.24"
strum_macros = ">=0.24"
tempfile = "3"
tokio = { version = "1.0", features = ["macros", "rt", "rt-multi-thread", "signal", "process"] }
url = "2.2"
warp = "0.3"

# For WASM user-defined functions
wasmtime = "0.40.0"

[patch.crates-io]
object_store = { git = "https://github.com/apache/arrow-rs", rev = "566ef3d66a441f4c4fb2ad6654c7039d1f58690d" }

[dev-dependencies]
mockall = "0.11.1"
test-case = "*"
wiremock = "0.5"

[build-dependencies]
anyhow = "1.0.63"  # for build.rs
vergen = "7"

[profile.release]
codegen-units = 1
lto = true
