version: "3.9"
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: test
    ports:
      - "5432:5432"
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      MINIO_CONSOLE_ADDRESS: ":9001"
    command: minio server /data

  createbuckets:
    image: minio/mc:latest
    depends_on:
      - minio
    volumes:
      - ./tests/data:/test-data
    entrypoint: >
      /bin/sh -c " /usr/bin/mc config host add test-minio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc rm -r --force test-minio/seafowl-test-bucket;  /usr/bin/mc mb
      test-minio/seafowl-test-bucket; /usr/bin/mc cp test-data/table_with_ns_column.parquet
      test-minio/seafowl-test-bucket/table_with_ns_column.parquet; /usr/bin/mc anonymous set public
      test-minio/seafowl-test-bucket/table_with_ns_column.parquet; 

      /usr/bin/mc mb test-minio/seafowl-test-bucket-public; /usr/bin/mc anonymous set public
      test-minio/seafowl-test-bucket-public; exit 0; "

  fake-gcs:
    image: tustvold/fake-gcs-server
    command:
      ["-scheme", "http", "-backend", "memory", "-data", "test/", "-public-host", "localhost:4443"]
    ports:
      - "4443:4443"
    volumes:
      - ./tests/data:/test/test-data

  create-fake-gcs-buckets:
    image: curlimages/curl:8.00.1
    depends_on:
      - fake-gcs
    entrypoint: >
      curl -v -X POST --data-binary '{"name":"seafowl-test-bucket"}' -H "Content-Type:
      application/json" "http://fake-gcs:4443/storage/v1/b"
